.by-develop {
    background-color: var(--color-contrast-light);
    height: 6.4rem;
}

.by-develop__paragraph {
    text-align: center;
    color: var(--color-contrast-dark);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-16);
}