.starwars {
    padding-bottom: 2rem;
}

.starwars__box-section-title {
    align-items: center;
    justify-content: space-between;
    line-height: 25px;
    margin-bottom: 1rem;
}

.starwars__title {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-700);
}

.starwars__box-all-products-view {
    color: var(--color-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
}

.starwars__box-section-itens {
    gap: 1rem;
    justify-content: flex-start;
    /* flex-grow:1; */
}

.starwars__box-section-itens .starwars__box-item:nth-last-child(-n+2) {
    display: none;
}

.starwars__box-item {
    width: 9.7rem;
}

.starwars__box-image-product {
    width: 9.7rem;
}

.starwars__product-title {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    padding-top: .5rem;
}

.starwars__product-price {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    padding-top: .5rem;
}

.starwars__product-view {
    color: var(--color-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    padding-top: .5rem;
}

@media screen and (min-width: 576px) {
    .starwars__box-item {
        width: 10.2rem;
    }

    .starwars__box-image-product {
        width: 10.2rem;
    }

    .starwars__box-all-products-view {
        font-size: var(--font-size-16);
    }
}

@media screen and (min-width: 768px) {
    .starwars__box-item {
        width: 9.97rem;
    }

    .starwars__box-image-product {
        width: 9.75rem;
    }
    .starwars {
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: 950px) {
    .starwars__box-section-itens .starwars__box-item:nth-last-child(2) {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .starwars__box-item {
        width: 11.97rem;
    }

    .starwars__box-image-product {
        width: 11.97rem;
    }
    .starwars__box-section-itens .starwars__box-item:nth-last-child(1) {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .starwars__box-item {
        width: 10.96rem;
    }

    .starwars__box-image-product {
        width: 10.96rem;
    }
}