:root {
    --font-family-body: 'Raleway', sans-serif;
    --font-size-12:0.75rem;
    --font-size-14: 0.88rem;
    --font-size-16: 1rem;
    --font-size-18: 1.15rem;
    --font-size-22: 1.38rem;
    --font-size-32: 2rem;
    --font-size-52: 3.25rem;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    
    --color-primary: #2A7AE4;
    --color-secondary: #E5E5E5;
    --color-contrast-dark: #464646;
    --color-contrast-medium: #A2A2A2;
    --color-contrast-light: #fff;
    
    --color-input-medium: #F5F5F5;
    --background-colorful: #EAF2FD;
    --color-hover-light: #D4E4FA;
    --color-hover-dark: #5595E9;
    --color-warning: #ec6b6b;
    --color-input-shadow: #c8c8c8;
}